 body {
 	/* set background image, center it, make it full screen */
 	background: url('../images/desert.png') no-repeat center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

    font-family: Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
 }
  
 
 input,label {
 	display: block;
 }
 
 
 h1 {
 	padding-top:80px;
 	font-size:70px;
 	color: white;
 }
 
 h2{
 	font-size:1em;
 	color: blue;
 }

 #loginContent{
 	/* TODO: adjust for cdf machine screens */
 	min-height:800px;
 	width: 900px;
 	margin: 30px auto;
	background-color: rgba(0,0,0,0.6);
 }

 #loginHeader{
 	width: 100%;
 	height: 200px;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
 }

 #loginForm{
 	width:50%;
 	margin: 30px auto;
 	color:white;
 }

img, p, input, a{
	margin:20px;	
}

a, #status, #hello {
	color:white;
	margin:20px;
}
 #header{
    font-size:12px;
	width: 700px;
	height: 50px;
 }
 
 #container{
 	margin: 20px auto;
 }
 
 #stuffContainer{
 	background-color: rgba(0,0,0,0.4);
 	width:900px;
 	margin: 20px auto;
 }
 
 textarea{
 	width:500px;
 	height:50px;
 }

 #header > h1 {
 		text-align:center
 }
 
 #nav{
 	padding: 5pt;
	position: absolute;	
	width:130px;
	height: 800px;
	font-size: 10pt;
    border:1px solid #31363E;
    background: lightgray;
 }
 
 #main{
	margin-left:160px;
    width:540px;
    height:800px;
	background: white;
 }